{% extends 'base.html.twig' %}

{% block title %}Ressource{% endblock %}

{% block body %}
    <div class="max-w-5xl mx-auto my-8 p-6 bg-white rounded-md shadow-md">
        <div class="flex my-4">
            <a href="{{ path('app_ressource_index') }}" class="inline-block bg-blue-500 hover:bg-blue-700 text-white p-2 rounded">
                <p>Back {#<i class="fa-solid fa-arrow-left fa-xl"></i>#}</p>
            </a>
        </div>
        <h1 class="text-2xl font-semibold mb-6 text-center">Ressource</h1>

        <table class="min-w-full leading-normal mt-12 mb-12">
            <tbody>
            <tr class="border-b">
                <th class="px-5 py-3 border-b-1 border-gray-200 bg-gray-100 text-right w-64 text-xs font-semibold text-gray-600 uppercase tracking-wider">Id</th>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ ressource.id }}</td>
            </tr>
            <tr class="border-b">
                <th class="px-5 py-3 border-b-1 border-gray-200 bg-gray-100 text-right w-64 text-xs font-semibold text-gray-600 uppercase tracking-wider">Nom</th>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ ressource.type }}</td>
            </tr>
            <tr class="border-b">
                <th class="px-5 py-3 border-b-1 border-gray-200 bg-gray-100 text-right w-64 text-xs font-semibold text-gray-600 uppercase tracking-wider">Contenu</th>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ ressource.contenu }}</td>
            </tr>
            </tbody>
        </table>
        <div class="flex justify-end space-x-2 mt-4">
            <a href="{{ path('app_ressource_edit', {'id': ressource.id}) }}" class="inline-block bg-yellow-500 hover:bg-yellow-700 text-white p-2 rounded">
                <p>Edit {#<i class="fa-solid fa-pen-to-square fa-xl"></i>#}</p>
            </a>
            <a href="{{ path('app_ressource_delete', {'id': ressource.id}) }}" onclick="return confirm('Are you sure you want to delete this item?');" class="inline-block bg-red-500 hover:bg-red-700 text-white p-2 rounded">
                <p>Delete {#<i class="fa-solid fa-trash fa-xl"></i>#}</p>
            </a>
            {# {{ include('adminUser/ressource/_delete_form.html.twig') }} #}
        </div>
    </div>
{% endblock %}
